PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/instagram_ai
OPENAI_API_KEY= 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
OPENAI_MODEL=gpt-5.6-luna

META_APP_ID=1101559385556236
META_APP_SECRET=968f45c4a88b96a7c9e56a9b57a23d2b
INSTAGRAM_REDIRECT_URI=http://localhost:3000/auth/instagram/callback
INSTAGRAM_VERIFY_TOKEN=IGAAjHROqG9QdBZAGFKa1RieGY5ei1xWjNTWFdQQjRTOHV4UFNndzVKd1dzX0hCMmJfSk1zekR4T2N3bm55T0pBX3FfTms3UkRad2NOZAlZAYYmFVTDNRNGdTOVU3Qy1WOS11a2ktamxNVzVmdVQxSWVfbF9vUFRMWUwtZAzFReWROUQZDZD
INSTAGRAM_GRAPH_BASE=https://graph.instagram.com
